@model MatriculasAPI.Models.EstudianteViewModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Crear Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPlanEstudioFk" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdPlanEstudioFk, new SelectList(Model.Planes, "IdPlanEstudio", "NombrePlanEstduio"), "--Select--")
                <span asp-validation-for="IdPlanEstudioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioFk" class="control-label"></label>
                <input asp-for="IdUsuarioFk" class="form-control" />
                <span asp-validation-for="IdUsuarioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoUsuarioFk" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdTipoUsuarioFk, new SelectList(Model.TipoUsuarios, "IdTipoUsuario", "Descripcion"), "--Select--")
                <span asp-validation-for="IdTipoUsuarioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
