@model FrontEnd.Models.MatriculaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatriculaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             @Html.HiddenFor(Model=>Model.IdMatricula)
            <div class="form-group">
                <label asp-for="FechaMatricula" class="control-label"></label>
                <input asp-for="FechaMatricula" class="form-control" />
                <span asp-validation-for="FechaMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstudianteFk" class="control-label"></label>
                <input asp-for="IdEstudianteFk" class="form-control" />
                <span asp-validation-for="IdEstudianteFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPlanEstudioFk" class="control-label"></label>
                <input asp-for="IdPlanEstudioFk" class="form-control" />
                <span asp-validation-for="IdPlanEstudioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCursoFk" class="control-label"></label>
                <input asp-for="IdCursoFk" class="form-control" />
                <span asp-validation-for="IdCursoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
